.login-all-div {
    height: 100px;
    width: 300px;
    margin: 0 auto;
    .login-id-div, .login-pw-div {
        width: 300px;
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        .login-label-div {
            margin-right: 10px;
            text-align: left;
        }
        .login-input-id-div {
            margin-left: 14px;
        }
        input {
            width: 210px;
        }
    }
    .login-btn-div {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }
}